# Dependencies
node_modules

# Build output
dist

# IDE
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Logs
npm-debug.log
yarn-error.log

# Local env files
.env
.env.local
.env.*.local

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
